# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# LaTeX intermediate files
*.synctex.gz

# mypy
.mypy_cache

# OS X
.DS_Store

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Pytest
.pytest_cache
htmlcov/

# Python
*.py[cod]
__pycache__/

# Sphinx documentation
docs/_build/

# Translations
*.mo
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Virtual Environments
venv/
Envs/
ENV/
.virtualenvs
.python-version
