name: baca

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  MYPYPATH: /tmp/abjad:/tmp/abjad-ext-rmakers

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Log environment
      run: |
        echo "\$HOME:" $HOME
        echo "\$GITHUB_WORKSPACE:" $GITHUB_WORKSPACE
        echo "\$PATH:" $PATH

    - name: Install LilyPond
      run: |
        lilypond_url=http://lilypond.org/download/binaries/linux-64/
        lilypond_source=lilypond-2.23.0-1.linux-64.sh
        wget -q -O /tmp/lilypond $lilypond_url/$lilypond_source
        sh /tmp/lilypond --batch

    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip

    - name: Install Abjad
      run: |
        git clone -b trevor/dev https://github.com/Abjad/abjad.git /tmp/abjad
        pip install -e /tmp/abjad

    - name: Install rmakers
      run: |
        git clone https://github.com/Abjad/abjad-ext-rmakers.git /tmp/abjad-ext-rmakers
        pip install /tmp/abjad-ext-rmakers

    - name: Install this package
      run: |
        python -m pip install -e .

    - name: Prime parser tables
      run: /tmp/abjad/scr/prime-parser-tables

    - name: Log versions
      run: |
        echo; echo Running black --version ...
        black --version
        echo; echo Running flake8 --version ...
        flake8 --version
        echo; echo Running isort --version ...
        isort --version
        echo; echo Running mypy --version ...
        mypy --version
        echo; echo Running pytest --version ...
        pytest --version
        echo; echo Running lilypond --version ...
        export PATH=/home/runner/bin:${PATH}
        lilypond --version

    - name: Run checks
      run: |
        echo; echo Running black ...
        make black-check
        echo; echo Running flake8 ...
        make flake8
        echo; echo Running isort ...
        make isort-check
        # echo; echo Running mypy ...
        # mypy --config-file=$GITHUB_WORKSPACE/mypy.ini baca

    - name: Run pytest
      run: |
        export PATH=/home/runner/bin:${PATH}
        make pytest
